/*IMPORTAR DATA*/
.importar-data {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3.7rem);
}
.importa-data-body {
  flex: 1;
  overflow-y: auto;
}
.importa-data-footer {
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
