$arrow-width: 0.7rem;
.kanban-board {
  height: calc(100vh - 3.4rem);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  .kanban-columns {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    .kanban-column {
      width: 300px;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-left: 8px;
      .kanban-column-header {
        background-color: #fff;
        height: 62px;
        position: sticky;
        display: flex;
        z-index: 1;
        &::after {
          content: '';
          position: absolute;
          top: 0px;
          right: -7.8px;
          width: 8px;
          height: 100%;
          background-color: #ececec;
          clip-path: polygon(0px 0px, 100% 50%, 0px 100%);
        }
        &::before {
          content: '';
          position: absolute;
          top: 0px;
          left: -0.2px;
          width: 8px;
          height: 100%;
          background-color: #fff;
          clip-path: polygon(0px 0px, 100% 50%, 0px 100%);
        }
        .kanban-column-header-stage {
          display: flex;
          background-color: #ececec;
          width: 100%;
          align-items: start;
          justify-content: center;
          flex-direction: column;
          height: 62px;
          padding: 0px 6px 0px 12px;
        }
      }
      .kanban-column-content {
        background-color: #ececec;
        flex: 1;
        overflow-y: auto;
        padding: 0rem 0.5rem;
        .kanban-card {
          position: relative;
          cursor: pointer;
          padding: 8px 10px;
          background: #fff;
          border-radius: 8px;
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;

            width: 4px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            background: var(--multi-border-color, transparent);
          }

          &:first-child {
            margin-top: 0px;
          }
          &.kanban-card-instagram {
            background-color: #f4c99b !important;
          }
          &.kanban-card-facebook {
            background-color: #5b6d95 !important;
          }
          &.kanban-card-whatsapp {
            background-color: #89f2b0 !important;
          }
          &.kanban-card-landing {
            background-color: #78b6f7 !important;
          }
          &.kanban-card-organico {
            background-color: #f48383 !important;
          }
          &.kanban-card-default {
            background-color: #f0f0f0 !important;
          }

          .kanban-card-header {
            border-bottom: 1px solid #e0e0e0;
            margin-bottom: 0.5rem;
            h4 {
              font-weight: 600;
              font-size: 1rem;
              white-space: nowrap; // ❄️ evita que el texto baje de línea
              overflow: hidden; // 💥 oculta lo que se sale
              text-overflow: ellipsis; // ✂️ agrega los ...
              max-width: 100%; // asegura que no crezca más de su contenedor
              display: block;
              padding: 0;
              margin: 0;
            }
            small {
              color: #555555;
              font-size: 0.8rem;
            }
          }
          .kanban-card-body {
            p {
              margin: 0;
              font-size: 0.875rem;
            }
            padding-bottom: 0.7rem;
            border-bottom: 1px solid #e0e0e0;
          }
        }
      }
    }
  }
  .kanban-footer {
    padding: 1rem;
    box-shadow: 0 -4px 6px -2px rgba(0, 0, 0, 0.1);
  }
}

.kanban-card-footer-user {
  p {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 500;
  }
  small {
    color: #888888;
    font-size: 0.725rem;
  }
}

.kanban-column:first-child {
  margin-left: 0px !important;
  .kanban-column-header {
    &::before {
      display: none;
    }
    .kanban-column-header-stage {
      border-radius: 2px 2px 0 0;
    }
  }
}

.kanban-column:last-child {
  .kanban-column-header {
    &::after {
      display: none;
    }
    .kanban-column-header-stage {
      border-radius: 0 2px 0 0;
    }
  }
}

.ghost {
  opacity: 0.4;
}

.drag {
  background-color: #ffc107;
}

.lead-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: bold;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  white-space: nowrap;

  i {
    font-size: 1.2rem;
  }

  &.caliente {
    background-color: rgb($lead-caliente, 0.15);
    color: $lead-caliente;

    i {
      animation: pulseFire 1.2s infinite;
    }
  }

  &.tibio {
    background-color: rgb($lead-tibio, 0.15);
    color: $lead-tibio;
    i {
      animation: blink 2s infinite;
    }
  }

  &.frio {
    background-color: rgb($lead-frio, 0.15);
    color: $lead-frio;

    i {
      animation: frostFade 3s ease-in-out infinite;
    }
  }
}

.btn-border {
  border: 1px solid $color-primary;
}

.btn-group-lg > .btn {
  border-radius: 4px;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.cards-footer {
  display: flex;
  gap: 2rem;
  width: 100%;
  background: #fff;
  /* Empieza abajo y sube */
  transform: translateY(100%);
  opacity: 0;

  /* Ajusta duración y timing a tu gusto */
  animation: slideUp 0.3s ease-out forwards;
}

.dropzone-footer {
  flex: 1;
  min-height: 50px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: background-color 0.2s, transform 0.1s;
  cursor: pointer;
  color: #6d6d6d;
  &:hover {
    transform: scale(1.05);
  }
  &.lead-perdido-text:hover {
    background-color: $color-lead-perdido;
    color: #fff;
    border: none;
  }
  &.lead-ganado-text:hover {
    background-color: $color-lead-ganado;
    color: #fff;
    border: none;
  }

  /* Oculta cualquier kanban-card o fantasma que meta SortableJS */
  .kanban-card,
  .ghost,
  .sortable-chosen {
    display: none !important;
  }
}

.lead-perdido-text {
  color: $color-lead-perdido;
}
.lead-ganado-text {
  color: $color-lead-ganado;
}

/* 🔥 pulso para "caliente" */
@keyframes pulseFire {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    color: $lead-caliente;
  }
  100% {
    transform: scale(1);
  }
}

/* 🌡 parpadeo leve para "tibio" */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

/* ❄️ desvanecido para "frío" */
@keyframes frostFade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.kanban-card-alert {
  margin-top: 1.2rem !important;
  &:first-child {
    margin-top: 0.52rem !important;
  }
}

.alert-lead {
  position: absolute;
  top: -10px;
  right: -5px;
  color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  animation: parpadeo-alerta 1s infinite ease-in-out;
}

.alert-lead-vencido {
  background-color: $color-lead-perdido;
}

.alert-lead-porvencer {
  background-color: $color-actividad-por-vencer;
}

@keyframes parpadeo-alerta {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.lead-header-state {
  span {
    line-height: 0;
  }
  .item-testado-lead {
    i {
      font-size: 1.3rem;
      cursor: pointer;
    }
  }
}

.color-lead-caliente {
  color: $lead-caliente !important;
}
.color-lead-tibio {
  color: $lead-tibio !important;
}
.color-lead-frio {
  color: $lead-frio !important;
}

.header-controls-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.control-group + .control-group {
  border-left: 1px solid #e5e7eb;
  padding-left: 0.7rem;
}

.lead-header-search {
  position: relative;
}

.lead-header-search .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #adb5bd;
  pointer-events: none;
  z-index: 2;
}

.lead-header-search input {
  padding-left: 35px;
  width: 350px;
}
